/* Reset e base */
body {

    font-family: "Lora", serif;
    margin: 0;
    padding: 0;
    color: black;
    background-color: #ece8e850;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    background-color: rgba(209, 209, 209, 0.5);
    color: rgb(0, 0, 0);
}

header a {

    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: "Lobster Two", sans-serif;
    position: relative;
    left: 40px;
    font-size: 40px;
}


.search-bar {
    display: flex;
    /* coloca input e botão em linha */
    justify-content: center;
    /* centraliza horizontalmente */
    align-items: center;
    /* alinha verticalmente */
    margin: 20px 0;
    /* espaçamento superior e inferior */
    gap: 10px;
    /* espaço entre input e botão */
}

.search-bar input {
    background-color: #f0eded;
    padding: 9px 40px;
    width: 250px;
    /* largura da barra */
    border-radius: 80px;
    border: none;
    outline: none;
}

.search {
    position: relative;
    left: 40px;
}

.car,
.per {
    opacity: 0.5;
    transition: 0.3s;
    z-index: 1;
}

.per:hover {
    opacity: 1;
    transition: 0.3s;
}

.car:hover {
    opacity: 1;
    transition: 0.3s;
}

/* Menu de navegação */
nav {
    background-color: rgba(209, 209, 209, 0.363);
    font-family: "Lobster Two", sans-serif;
    text-align: center;
    padding: 12px 0;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: rgb(43, 42, 42);
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

/* Conteúdo principal */
main {
    max-width: 900px;
    margin: 30px auto;
    padding: 25px;
}

article {
    margin-bottom: 40px;

    & h1 {
        color: rgb(78, 78, 78);
    }
}

article p:first-child {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

article img {
    max-width: 100%;
    margin: 10px 0;
}

article div {
    padding: 15px;
    border-radius: 8px;
}

/* Rodapé */
footer {
    background-color: var(--cor-secundaria);
    color: #ffffff;
    text-align: center;
    padding: 12px;
    font-size: 0.9em;
    border-top: 1px solid var(--cor-principal);
    box-shadow: 0 -2px 10px #ff004820;
}

/* Modo alto contraste */
.alto-contraste {
    background-color: black !important;
    color: yellow !important;
}

.alto-contraste header,
.alto-contraste nav {
    background-color: black !important;
    color: yellow !important;
}

.alto-contraste a,
.alto-contraste footer {
    color: yellow !important;
}