<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Musclr.site/Public/

    RewriteCond %{REQUEST_FILENAME} -f
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^ index.php [L]
</IfModule>